<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />
	<div class="tx_tp3jobs table-responsive">
		<f:translate key="tx_tp3jobs_domain_model_joboffer" />
		<ul  class=" subnav-nav nav" >


			<f:for each="{jobOffers}" as="jobOffer">
				<li class="job-panel">
					<f:link.action action="show" class="link" arguments="{jobOffer:jobOffer}">
						<span class="title"><f:format.html>{jobOffer.title}</f:format.html></span>
						<span class="descr"><f:format.html>{jobOffer.descr}</f:format.html></span>
						<span class="refid"><f:format.html>{jobOffer.refid}</f:format.html></span>
					</f:link.action>
				</li>
			</f:for>
		</ul>
	</div>
	<!--<f:link.action action="new">New JobOffer</f:link.action>-->
</f:section>
</html>